<div class="topbar">
    <div class="container d-flex align-items-center justify-content-between gap-2">
        <span class="topbar-note"><span class="open-dot" aria-hidden="true"></span><span
                data-i18n="topbar">Open 24 hours · Here for your everyday needs</span></span>
        <a class="topbar-phone" href="tel:+919787202630" data-i18n="callTop">Call us: +91 97872 02630</a>
    </div>
</div>

<nav class="navbar navbar-expand-xl site-nav" aria-label="Main navigation" data-i18n-aria="mainNavigation">
    <div class="container">
        <a class="navbar-brand brand-lockup" href="#home" aria-label="Thiruvarasu Maligai home">
            <span class="brand-mark" aria-hidden="true">T</span>
            <span class="brand-copy"><strong>Thiruvarasu</strong><small data-i18n="brandSubtitle">Maligai &amp;
                    Paapathi Textiles</small></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigation"
            aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation"
            data-i18n-aria="toggleMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-3">
                <li class="nav-item"><a class="nav-link" href="#home" data-i18n="navHome">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="./groceries.html" data-i18n="navGroceries">Groceries</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="./textiles.html" data-i18n="navClothing">Clothing &amp;
                        textiles</a></li>
                <li class="nav-item"><a class="nav-link" href="./jewels.html" data-i18n="navJewellery">Jewellery &amp;
                        accessories</a></li>
                <li class="nav-item"><a class="nav-link" href="#offers" data-i18n="navOffers">Special offers</a></li>
                <li class="nav-item"><a class="nav-link" href="#visit" data-i18n="navFind">Find us</a></li>
                <li class="nav-item"><a class="btn btn-nav" href="#visit"><span data-i18n="navVisit">Visit our store</span>
                        <span aria-hidden="true">↗</span></a></li>
                <li class="nav-item language-switch"><button class="language-button" id="languageToggle" type="button"
                        lang="ta" aria-label="தமிழில் பார்க்க">தமிழ்</button></li>
            </ul>
        </div>
    </div>
</nav>